:root {
  --sans-font: "Roboto Flex", sans-serif;

  --white: #fff;
  --light-gray: #f7f7f7;
}

body {
  font-family: var(--sans-font);
}

p {
  line-height: 1.5;
}

.md {
  max-width: 800px;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  font-stretch: 150%;
}

.headline__container {
  text-align: center;
  padding-block: 1.5rem;
  font-size: 1.5rem;
}

.item__title {
  font-size: 1.4rem;
  font-weight: 600;
}

.page-content > *:nth-child(odd) {
  background-color: var(--white);
}

.page-content > *:nth-child(even) {
  background-color: var(--light-gray);
}

.text-section {
  padding-inline: 3rem;
  display: flow-root;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vsection__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.vitem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
}

.full-height {
  height: 100vh;
}

.vitem__image {
  height: 100vh;
  aspect-ratio: 3/4;
}

.vitem__text {
  margin-inline: 20%;
}

.pop__container {
  text-align: center;
}

.pop__image {
  padding: 3em;
  box-sizing: border-box;
  max-width: 80%;
}

.hsection {
  padding-block: 3rem;
  display: flex;
  justify-content: space-between;
  /* overflow-x: auto; */
  column-gap: 7em;
}

.hitem {
  display: flex;
  min-width: 40%;
  flex-direction: column;
}

.hitem__image {
  aspect-ratio: 22/9;
  width: 100%;
  object-fit: cover;
  object-position: 50% 7%;
}
